<div class="col-md-6">
  <%= render "shared/error_message", object: @mobile_brand %>
  <%= form_for [:admin, @mobile_brand], html: {multipart: true} do |f| %>
    <%= f.label "Name" %>
    <%= f.text_field :name, class: "form-control" %><br>

    <%= f.label "Description" %>
    <%= f.text_area :description, class: "form-control" %><br>

    Image<br>
    <%= f.file_field :image, class: "form-control" %>
    <%= f.submit "#{params[:action]} brand".upcase, class: "btn btn-primary form-control" %>
  <% end %>
</div>
