
<div class="blog-post-area">
  <h2 class="title text-center">Latest Reviews</h2>
  <%= render Review.first %>
</div>

<div class="features_items"><!--features_items-->
  <h2 class="title text-center">Lastest Phones</h2>
  <%= render Mobile.first(6)%>
</div><!--features_items-->

<div class="category-tab"><!--category-tab-->
  <div class="col-sm-12">
    <ul class="nav nav-tabs">
    <% MobileBrand.first(9).each do |brand| %>
      <li><a href="#<%= brand.name %>" data-toggle="tab"><%= brand.name %></a></li>
    <% end %>
    </ul>
  </div>
  <div class="tab-content">
  <% MobileBrand.first(9).each do |brand| %>
    <div class="tab-pane fade" id="<%=brand.name %>">
      <%= render partial: "mobiles/mobile_small", collection: @mobiles = brand.mobiles.first(4) %>
    </div>
  <% end %>
  </div>
</div><!--/category-tab-->
<%= render "shared/viewed_mobiles"%>
