<div class="col-sm-4">
  <div class="product-image-wrapper">
    <div class="single-products">
        <div class="productinfo text-center">
          <%= image_tag mobile.image.url(:medium) ,class:"img"%>
          <h2><%= mobile.name %></h2>
          <a href="<%= mobile_path mobile%>" class="btn btn-default add-to-cart"><i class="fa fa-star-o "></i><%= mobile.average("original_score").avg if mobile.average("original_score")%></a>
        </div>
        <div class="product-overlay">
          <div class="overlay-content">
            <h2><%= mobile.name%></h2>
            <p><%= rating_for mobile, "original_score", disable_after_rate: true %></p>
            <a href="<%= mobile_path mobile%>" class="btn btn-default add-to-cart"><i class="fa fa-info-circle"></i>Details</a>
          </div>
        </div>
    </div>
    <% if mobile.review %>
    <div class="choose">
      <ul class="nav nav-pills nav-justified">
        <li><a href="#"><i class="fa fa-file-text-o"></i>Review</a></li>
      </ul>
    </div>
    <% end %>
  </div>
</div>


