<table class="table table-bordered">
  <tr>
    <td>Network</td>
    <td>Technology</td>
    <td><%= @mobile.network_technology %></td>
  </tr>
  <tr>
    <td rowspan="2">Launch</td>
    <td>Annouced</td>
    <td><%= @mobile.launch_announced %></td>
  </tr>
  <tr>
    <td>Status</td>
    <td><%= @mobile.launch_status %></td>
  </tr>
  <tr>
    <td rowspan="3">Body</td>
    <td>Dimensions</td>
    <td><%= @mobile.body_dimensions %></td>
  </tr>
  <tr>
    <td>Weight</td>
    <td><%= @mobile.body_weight %></td>
  </tr>
  <tr>
    <td>Sim</td>
    <td><%= @mobile.body_sim %></td>
  </tr>
  <tr>
  <td rowspan="4">Display</td>
  <td>Type</td>
  <td><%= @mobile.display_type %></td>
  </tr>
  <tr>
    <td>Size</td>
    <td><%= @mobile.display_size %></td>
  </tr>
  <tr>
    <td>Resolution</td>
    <td><%= @mobile.display_resolution %></td>
  </tr>
  <tr>
    <td>Multitouch</td>
    <td><%= @mobile.display_multitouch %></td>
  </tr>
  <tr>
    <td rowspan="4">Platform</td>
    <td>OS</td>
    <td><%= @mobile.platform_os %></td>
  </tr>
  <tr>
    <td>Chipset</td>
    <td><%= @mobile.platform_chipset %></td>
  </tr>
  <tr>
    <td>CPU</td>
    <td><%= @mobile.platform_CPU %></td>
  </tr>
  <tr>
    <td>GPU</td>
    <td><%= @mobile.platform_GPU %></td>
  </tr>
  <tr>
    <td rowspan="2">Memory</td>
    <td>Cardslot</td>
    <td><%= @mobile.memory_cardslot %></td>
  </tr>
  <tr>
    <td>Internal</td>
    <td><%= @mobile.memory_internal %></td>
  </tr>
  <tr>
    <td rowspan="4">Camera</td>
    <td>Primary</td>
    <td><%= @mobile.camera_primary %></td>
  </tr>
  <tr>
    <td>Features</td>
    <td><%= @mobile.camera_features %></td>
  </tr>
  <tr>
    <td>Video</td>
    <td><%= @mobile.camera_video %></td>
  </tr>
  <tr>
    <td>Secondary</td>
    <td><%= @mobile.camera_secondary %></td>
  </tr>
  <tr>
    <td rowspan="3">Sound</td>
    <td>Alert Types</td>
    <td><%= @mobile.sound_alerttypes %></td>
  </tr>
  <tr>
    <td>Loudspeakers</td>
    <td><%= @mobile.sound_loudspeakers %></td>
  </tr>
  <tr>
    <td>3,5mm jack</td>
    <td><%= @mobile.sound_35mmjack %></td>
  </tr>
  <tr>
    <td rowspan="6">Comms</td>
    <td>WLAN</td>
    <td><%= @mobile.comms_wlan %></td>
  </tr>
  <tr>
    <td>Bluetooth</td>
    <td><%= @mobile.comms_bluetooth %></td>
  </tr>
  <tr>
    <td>GPS</td>
    <td><%= @mobile.comms_gps %></td>
  </tr>
  <tr>
    <td>NFC</td>
    <td><%= @mobile.comms_nfc %></td>
  </tr>
  <tr>
    <td>Radio</td>
    <td><%= @mobile.comms_radio %></td>
  </tr>
  <tr>
    <td>USB</td>
    <td><%= @mobile.comms_usb %></td>
  </tr>
  <tr>
    <td rowspan="5">Features</td>
    <td>Sensors</td>
    <td><%= @mobile.features_sensors %></td>
  </tr>
  <tr>
    <td>Messaging</td>
    <td><%= @mobile.features_messaging %></td>
  </tr>
  <tr>
    <td>Browser</td>
    <td><%= @mobile.features_browser %></td>
  </tr>
  <tr>
    <td>Java</td>
    <td><%= @mobile.features_java %></td>
  </tr>
  <tr>
    <td>Misc</td>
    <td><%= @mobile.features_misc %></td>
  </tr>
  <tr>
    <td>Battery</td>
    <td></td>
    <td><%= @mobile.battery %></td>
  </tr>
  <tr>
    <td rowspan="2">Misc</td>
    <td>Misc colors</td>
    <td><%= @mobile.misc_colors %></td>
  </tr>
  <tr>
    <td>Price groups</td>
    <td><%= @mobile.price_groups %></td>
  </tr>
</table>
