<li class="media">
  <a class="pull-left" href="#">
   <%= image_tag comment.user.avatar.url(:thumb) %>
  </a>
  <div class="media-body">
    <ul class="sinlge-post-meta">
      <li><i class="fa fa-user"></i><%= comment.user.name%></li>
      <li><i class="fa fa-clock-o"></i> <%=comment.created_at.strftime("%H:%m")%></li>
      <li><i class="fa fa-calendar"></i> <%=comment.created_at.strftime("%b %d, %Y")%></li>
    </ul>
    <p><%= comment.content %></p>
    <% if comment.user == current_user %>
      <%= link_to [comment.review, comment], method: :delete, data: {confirm: "Are you sure?"} do %>
        <span class="btn btn-primary"><i class="fa fa-minus-square"></i> Delete</span>
      <% end %>
    <% end %>
  </div>
</li>
