<li>
  <div class="comment-main-level">
    <!-- Avatar -->
    <div class="comment-avatar">
      <%= image_tag comment.user.avatar.url(:thumb) if comment.user.avatar %>
    </div>
    <!-- Contenedor del Comentario -->
    <div class="comment-box">
      <div class="comment-head">
        <h6 class="comment-name by-author"><%= comment.user.name %></h6>
        <span style="padding-top: 6px">posted <%= time_ago_in_words(comment.created_at) %> </span>
        <%= link_to new_review_comment_comment_path(comment.commentable, comment) do %>
          <i class="fa fa-reply"></i>
        <% end %>
        <% if comment.user == current_user %>
          <%= link_to [comment.commentable, comment], method: :delete, data: {confirm: "Are you sure?"} do %>
            <i class="fa fa-minus-square"></i>
          <% end %>
        <% end %>
      </div>
      <div class="comment-content">
        <%= comment.content %>
      </div>
    </div>
  </div>
  <!-- Respuestas de los comentarios -->
  <ul class="comments-list reply-list">
    <%= render comment.comments %>
  </ul>
</li>
