       <section id="dg-container" class="dg-container">
                <div class="dg-wrapper">

               <%= link_to root_path do %>
                   <%= image_tag "1.jpg", :alt => "image01"%>
                <% end %> </a>

               <%= link_to root_path do %>
                   <%= image_tag "2.jpg", :alt => "image02"%>
                <% end %> </a>
               <%= link_to root_path do %>
                   <%= image_tag "3.jpg", :alt => "image03"%>
                <% end %>
              <%= link_to root_path do %>
                   <%= image_tag "4.jpg", :alt => "image05"%>
                <% end %>
                
        </div>
            </section>

        <script type="text/javascript">
            $(function() {
                $('#dg-container').gallery({
                    autoplay    :   true
                });
            });
        </script/