<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-1">
      <div class="login-form"><!--login form-->
        <h2>Login to your account</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
          <span>
          <% if devise_mapping.rememberable? -%>
              <%= f.check_box :remember_me, class: "checkbox"%>
              Keep me signed in
          <% end -%>
          </span>
          <%= f.submit "Log in", class: "btn btn-default" %>
        <% end %>
      </div><!--/login form-->
    </div>
  </div>
</div>
