<% provide :title, "#{@review.title} review" %>
<div class="col-md-12 review-image" style="background-image: url(<%= @review.image.url %>)">
  <div class="col-md-3">
    <h2><span class="label label-danger"><%= @review.user.name %></span></h2>
    <h5><span class="label label-default"><%= @review.created_at %></span></h5>
  </div>
  <div class="col-md-3 col-md-offset-9" style="padding-top: 130px">
    <%= link_to @review.mobile.name.upcase, mobile_path(@review.mobile), class: "btn btn-default" %>
  </div>
</div>
Rate this review: <%= rating_for @review, "original_score", disable_after_rate: false %>
RATE:
<%= @review.average("original_score").avg if @review.average("original_score") %>
<div class="review" style="padding-top: 20px">
  <%= @review.content.html_safe %>
</div>
<h1>Comment(<%= @review.comments.count %>)</h1>
<div class="comments-container">
  <ul id="comments-list" class="comments-list" style="padding:0">
    <%= render @review.comments %>
  </ul>
  <%= render "comments/form" %>
</div>
