<% provide :title, "#{@review.title} review" %>
<div class="blog-post-area">
  <h2 class="title text-center">REVIEW</h2>
  <div class="single-blog-post">
    <h3><%=@review.title%>
    </h3>
    <div class="post-meta">
      <ul>
        <li><i class="fa fa-user"></i><%=@review.user.name%></li>
        <li><i class="fa fa-clock-o"></i><%=@review.created_at.strftime("%H:%m")%></li>
        <li><i class="fa fa-calendar"></i> <%= @review.created_at.strftime("%b %d, %Y")%></li>
      </ul>
      <span>
        <%= rating_for @review, "original_score", disable_after_rate: true %>
      </span>
    </div>
    <span class="btn btn-primary">View <%=@review.mobile.name%></span>
    <a href="">
      <%= image_tag @review.image.url(:medium), class: "image" %>
    </a>
    <p>
      <%= @review.content.html_safe %>
    </p>
  </div>
</div><!--/blog-post-area-->

<div class="rating-area">
  <ul class="ratings">
    <li class="rate-this">Rate this review:</li>
    <li>
      <%= rating_for @review, "original_score", disable_after_rate: false %>
    </li>
  </ul>
</div><!--/rating-area-->

<div class="response-area">
  <h2><%= @review.comments.count %> RESPONSES</h2>
  <ul class="media-list">
    <%= render @review.comments %>
  </ul>
</div><!--/Response-area-->
<%= render "comments/form"%>
