<div class="col-md-6">
  <%= render "shared/error_message", object: @mobile %>
  <%= form_for [:admin, @mobile], html: {multipart: true} do |f| %>
    <%= f.label "Name" %>
    <%= f.text_field :name, class: "form-control" %><br>

    <%= f.label "Description" %>
    <%= f.text_area :description, class: "form-control" %><br>

    <%= f.label "Brand" %>
    <%= f.select :mobile_brand_id , MobileBrand.all.collect{|b| [b.name, b.id]}, include_blank: true %>

  <!-- Network<br>
  Launch<br>
  Body<br>
  Display<br>
  Platform<br>
  Memory<br>
  Camera<br>
  Sound<br>
  Comms<br>
  Features<br>
  Battery<br>
  Misc<br>
  Price<br> -->
    Image<br>
    <%= image_tag @mobile.image.url(:thumb) if @mobile.image %>
    <%= f.file_field :image, class: "form-control" %>
    <%= f.submit "#{params[:action]} phone".upcase, class: "btn btn-primary form-control" %>
  <% end %>
</div>
