<% provide :title, "Phones index" %>
<h1>All Phones</h1>
<%= link_to new_admin_mobile_path do %>
  <div class="btn btn-success">Add mobile</div>
<% end %>
<table class="table table-bordered text-center">
  <thead>
    <td><strong>Id</strong></td>
    <td><strong>Image</strong></td>
    <td><strong>Name</strong></td>
    <td><strong>Brand</strong></td>
    <td><strong>Actions</strong></td>
  </thead>
  <% @mobiles.each do |mobile| %>
    <tr>
      <td>
        <%= mobile.id %>
      </td>
      <td>
        <%= image_tag mobile.image.url(:medium) %>
      </td>
      <td>
        <%= link_to mobile.name, admin_mobile_path(mobile) %><br>
      </td>
      <td>
        <%= image_tag mobile.mobile_brand.image.url(:thumb) %><br>
        <%= mobile.mobile_brand.name %>
      </td>
      <td>
        <%= link_to edit_admin_mobile_path(mobile) do %>
          <div class="btn btn-primary"> Edit </div>
        <% end %>
        <%= link_to admin_mobile_path(mobile), method: :delete, data: {confirm: "Are you sure?"} do %>
          <div class="btn btn-danger"> Delete </div>
        <% end %>
        <% if mobile.review.present? %>
          <%= link_to admin_review_path(mobile.review) do %>
            <div class="btn btn-default"> Review </div>
          <% end %>
        <% else %>
          <%= link_to new_admin_review_path do %>
            <div class="btn btn-warning"> Create review</div>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
