<div class="sidebar" data-color="black" data-image="assets/img/sidebar-5.jpg">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="<%=  %>" class="simple-text">
                Smartphone-Review
            </a>
        </div>

        <ul class="nav">
            <li class="active">
                <a href="dashboard.html">
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a href="<%= admin_users_path %>">
                    <p>Users Profile</p>
                </a>
            </li>
            <li>
                <a href="<%= admin_mobiles_path %>">
                    <p>Mobiles List</p>
                </a>
            </li>
            <li>
                <a href="<%= admin_mobile_brands_path %>">
                    <p>Brands</p>
                </a>
            </li>
            <li>
                <a href="<%= admin_reviews_path %>">
                    <p>Reviews</p>
                </a>
            </li>
        </ul>
    </div>
</div>
