<header id="header"><!--header-->
  <div class="header_top"><!--header_top-->
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="contactinfo">
            <ul class="nav nav-pills">
              <li><a href="#"><i class="fa fa-phone"></i> +84 905 068 885</a></li>
              <li><a href="#"><i class="fa fa-envelope"></i> qmau94@gmail.com</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="social-icons pull-right">
            <ul class="nav navbar-nav">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div><!--/header_top-->

  <div class="header-middle"><!--header-middle-->
    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <div class="logo pull-left">
            <a class="navbar-brand" href="<%= root_url %>">SMARTPHONE-REVIEW</a>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="search_box pull-right">
            <%= form_tag mobiles_path,method: "get" do %>
                  <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search" %>
            <% end %>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="shop-menu pull-right">
            <ul class="nav navbar-nav">
              <% if user_signed_in? %>
                <li><%= link_to "Hello, #{current_user.name}", "#" %></li>
                  <li><a href="<%= destroy_user_session_path %>" data-method="delete" ><i class="fa fa-lock"></i> Sign out</a></li>
              <% else %>
                <li><a href="<%= new_user_registration_path %>"><i class="fa fa-user"></i>Sign up</a></li>
                <li><a href="<%= new_user_session_path %>"><i class="fa fa-lock"></i> Sign in</a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div><!--/header-middle-->

  <div class="header-bottom"><!--header-bottom-->
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="mainmenu pull-left">
            <ul class="nav navbar-nav collapse navbar-collapse">
              <li><a href="<%=root_url%>">Home</a></li>
              <li class="dropdown"><a href="<%= reviews_path %>">Reviews</a></li>
              <li><a href="<%= contact_path %>">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div><!--/header-bottom-->
</header><!--/header-->
