
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
    <%= render "layouts/shim" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
            <%= render "static_pages/side_bar"%>
        </div>
        <div class="col-sm-9 padding-right">
          <%= yield %>
          <%= render "shared/viewed_mobiles" if user_signed_in?%>
        </div>
      </div>
    </div>
    <%= render "layouts/footer"%>
  </body>
</html>
